:root {
  --gray10: #fff;
  --gray20: #f9f9f9;
  --gray30: #cfcfcf;
  --gray40: #818181;
  --gray50: #515151;
  --gray60: #000;

  --brown10: #f5f1ee;
  --brown20: #e4d5c9;
  --brown30: #c7bbb5;
  --brown40: #542f1a;
  --brown50: #341909;

  --blue50: #1877f2;
  --yellow50: #fee500;
  --red50: #b93333;

  /* font size */
  --h1: 4rem;
  --h2: 3.2rem;
  --h3: 2.4rem;

  --body1: 2rem;
  --body2: 1.8rem;
  --body3: 1.6rem;

  --caption: 1.4rem;

  /* shadow */
  --shadow1pt: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
  --shadow2pt: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow3pt: 0px 16px 20px 0px rgba(48, 48, 48, 0.62);
}
