.Badge-Border {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1.2rem;
}

.Badge-Context {
  display: flex;
  font-family: Pretendard;
  font-size: var(--caption);
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
}

.Badge-Brown {
  border: 1px solid var(--brown40);
  background: var(--gray10);
  border-radius: 8px;
}

.Badge-Gray {
  border: 1px solid var(--gray40);
  background: var(--gray10);
  border-radius: 8px;
}

.Badge-Color-Brown {
  color: var(--brown40);
}

.Badge-Color-Gray {
  color: var(--gray40);
}
