.deleteButton {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.4rem;
  box-shadow: var(--shadow2pt);
  width: 7rem;
  height: 2.5rem;
  background: var(--brown40);
  font-size: 1rem;
  line-height: 2.5rem;
  color: var(--gray10);
  cursor: pointer;
  border-radius: 200px;
  transform: translateY(-350%);
}

@media (min-width: 768px) {
  .deleteButton {
    width: 10rem;
    height: 3.5rem;
    font-size: 1.5rem;
    transform: translateY(-300%);
  }
}
