.container {
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
  flex-direction: column;
  padding: 2.4rem;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(140, 140, 140, 0.25);
  width: 29.5rem;
  height: auto;
  background: var(--gray10);
  border-radius: 16px;

  @media (min-width: 768px) {
    width: 68.4rem;
    gap: 3.2rem;
    padding: 3.2rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 24.7rem;
  height: 2.6rem;

  @media (min-width: 768px) {
    width: 63.6rem;
  }
}

.kebab {
  width: 2.6rem;
  height: 2.6rem;
}

.line {
  align-self: stretch;
  height: 0.1rem;
  background: var(--gray30);
}
