.container {
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
  flex-direction: column;
  padding: 2.4rem;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(140, 140, 140, 0.25);
  width: 68.4rem;
  background: var(--gray10);
  border-radius: 16px;

  @media (min-width: 768px) {
    gap: 3.2rem;
    padding: 3.2rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 63.6rem;
  height: 2.6rem;

  @media (min-width: 768px) {
    width: 62rem;
  }
}

.statusBadge {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1.2rem;
  border: 1px solid #542f1a;
  width: 7.6rem;
  height: 2.6rem;
  background: #fff;
  color: #542f1a;
  border-radius: 8px;
}

.kebab {
  width: 2.6rem;
  height: 2.6rem;
}

.line {
  align-self: stretch;
  height: 0.1rem;
  background: var(--gray30);
}
