@import './Css/Global.css';

.container {
  display: flex;
  width: 33.6rem;
  padding: 1.2rem 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: 8px;
  border: 1px solid var(--gray40);
  background: var(--gray10);
}

.icon {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
}

.input {
  flex: 1 0 0;
  color: var(--gray60);
  font-family: Pretendard;
  font-size: var(--body3);
  font-weight: 400;
  line-height: 2.2rem;
}

input::placeholder {
  color: var(--gray40);
}
