.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 2.4rem;
  width: 100%;
  height: 100vh;
  background: var(--gray20);
}

/* 로고 & 답변 버튼 */
.headerGroup {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 14.6rem;
  height: 5.7rem;
}

/* 소제목 & 드롭다운 */
.subTitleGroup {
  display: flex;
  gap: 4.2rem;
  align-items: center;
  margin-top: 5.2rem;
}

.subTitle {
  width: 100%;
  font-family: Actor;
  font-size: var(--h3);
  font-weight: 400;
  line-height: 3rem;
  color: var(--gray60);
}

/* 유저 카드 */
.userCardContainer {
  display: grid;
  gap: 1.6rem;
  margin: 1.6rem 0;
  width: 100%;
  max-width: 32.7rem;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.pagenation {
  margin-top: 1.5rem;
  margin-bottom: 3.9rem;
}

/* 반응형 (모바일 -> 웹) */
@media (min-width: 768px) {
  .container {
    padding: 0;
  }

  .headerGroup {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 4rem 5rem;
    width: 100%;
  }

  /* 소제목 & 드롭다운 */
  .subTitleGroup {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    margin: 0;
  }

  .subTitle {
    font-family: Actor;
    font-size: var(--h1);
    color: var(--gray60);
    text-align: center;
  }

  /* 유저 카드 */
  .userCardContainer {
    display: grid;
    gap: 2rem;
    padding: 1.6rem 3.4rem;
    max-width: 70rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .pagenation {
    margin-top: 4.5rem;
    margin-bottom: 7.6rem;
  }
}

@media (min-width: 950px) {
  .userCardContainer {
    display: grid;
    gap: 2rem;
    padding: 1.6rem 3.2rem;
    max-width: 88.6rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }

  .pagenation {
    margin-top: 3rem;
    margin-bottom: 9.1rem;
  }
}

@media (min-width: 1200px) {
  .userCardContainer {
    max-width: 94rem;
  }

  .pagenation {
    margin-top: 2.4rem;
    margin-bottom: 9.7rem;
  }
}
