Button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;
  width: 4rem;
  height: 4rem;
  font-family: Actor;
  font-size: var(--body1);
  font-weight: 400;
  line-height: 2.5rem;
  text-align: center;
}

.default {
  color: var(--gray40);
}

.active {
  color: var(--brown40);
}

Button:hover {
  color: var(--gray60);
}

@media (max-width: 767px) {
  Button {
    width: 3rem;
    height: 3rem;
    font-size: var(--body3);
  }
}
