html {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 15vh;
  background: url('../Assets/Images/imageMainPage.png') no-repeat top;
  background-color: var(--gray20);
  background-size: contain;
}

.headerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*width: 90.6rem;
  height: 17.7rem;*/
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
}

.logoImg {
  width: 12.4rem;
  height: 4.9rem;
}

.main {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10rem;
  background: var(--gray20);
}

.profileArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.profileGroup {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: -5rem;
}

.profileImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10.4rem;
  height: 10.4rem;
  border-radius: 50%;
}

.username {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--gray60);
}

.feedContainer {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 16rem;
  padding: 1.6rem;
  border: 1px solid var(--brown20);
  width: 32.7rem;
  background: var(--brown10);
  border-radius: 16px;
}

.questionInfo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.messageIcon {
  width: 2.2rem;
  height: 2.2rem;
}

.infoText {
  font-family: Actor;
  font-size: var(--body2);
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--brown40);
}

.questionArea {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  .questionArea {
    gap: 2rem;
  }
  .header {
    height: 30vh;
  }
  .headerImage {
    /*width: 120rem;*/
    width: 150%;
    height: 35vh;
  }
  .logo {
    top: 4rem;
  }
  .logoImg {
    width: 17rem;
    height: 6.7rem;
  }
  .profileGroup {
    right: -7.5rem;
    bottom: -6rem;
    top: -10rem;
  }
  .profileImage {
    width: 13.6rem;
    height: 13.6rem;
  }
  .username {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .feedContainer {
    width: 70.4rem;
  }
  .messageIcon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .infoText {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
