.likeReaction, .dislikeReaction {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: var(--gray40);
}

.clickLikeReaction {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: var(--blue50);
}

.clickDislikeReaction {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: var(--gray60);
}