.likeReaction,
.dislikeReaction {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  color: var(--gray40);
}

.clickLikeReaction {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  color: var(--blue50);
}

.clickDislikeReaction {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  color: var(--gray60);
}
