.toast {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2rem;
  box-shadow: var(--shadow2pt);
  background: var(--gray60);
  font-family: Pretendard;
  font-size: var(--caption);
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--gray10);
  border-radius: 8px;
  font-feature-settings:
    'clig' off,
    'liga' off;
}
